<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <style>
        #foot {
            background-color: #FFFFFF;
        }
        #foot hr{
            margin-top: 0;
            color: gainsboro;
         }
        #foot p{
            margin:20px 0px 20px 100px;
        }
        #foot a{
            text-decoration: none;
            color: black;
            margin-right: 20px;
            cursor: pointer;
        }
        #foot a:hover{
            color: #46d233;
        }
    </style>

    <div id="foot">
        <hr>
        <p>
            <a>关于我们</a>
            <a>联系我们</a>
            <a>广告合作</a>
            <a>市场合作</a>
            <a>帮助中心</a>
            <a>留言反馈</a>
        </p>
    </div>
</body>
</html>