{% extends 'base.html' %}

{% block title %}欢迎光临首页{% endblock %}

{% block content %}
{% load staticfiles %}
<style type="text/css">
    /*-----------------------------------navbar------------------------------------ */
    a:hover{
        text-decoration: none;
    }
    #logo{
        margin-left: 30px;
        height: 90%;
        width: 70%;
    }
    .navbar-default{
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }
    .navbar-fixed-top.active{
        background-color: rgba(255, 255, 255, 1);
        transition: background 1s;
        -moz-transition: background 1s; /* Firefox 4 */
        -webkit-transition: background 1s; /* Safari 和 Chrome */
        -o-transition: background 1s; /* Opera */
    }
    .navbar-fixed-top.active .navbar-nav > li > a:link{
        color: #000000;
        transition: color 1s;
        -moz-transition: color 1s; /* Firefox 4 */
        -webkit-transition: color 1s; /* Safari 和 Chrome */
        -o-transition: color 1s; /* Opera */
    }
    .navbar-fixed-top.active .navbar-nav > li > a:visited{
        color: #000000;
    }
    .navbar-fixed-top.active .navbar-nav > li > a:hover{
        color: #46d233;
    }
    .navbar-fixed-top .navbar-nav > li > a:link{
        font-size: 120%;
        color: #FFFFFF;
    }
    .navbar-fixed-top .navbar-nav > li > a:visited{
        color: #FFFFFF;
    }
    .navbar-fixed-top .navbar-nav > li > a:hover {
        color: #46d233;
    }

    #inputSearch>input, #inputSearch>select{
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: none;
        border-radius: 0;
        color: #FFFFFF;
    }
    #inputSearch.active input, #inputSearch.active select{
        color: black;
        background-color: rgba(0, 0, 0, 0.2);
        transition: color 1s;
        -moz-transition: color 1s; /* Firefox 4 */
        -webkit-transition: color 1s; /* Safari 和 Chrome */
        -o-transition: color 1s; /* Opera */
    }
    #inputSearch select{
        cursor: pointer;
    }
    #inputSearch select>option{
        color: #919191;
        background-color: #FFFFFF;
    }
    .navbar-fixed-top .glyphicon-search{
        font-size: 150%;
        color: #FFFFFF;
        cursor:pointer;
        padding: 7px 0px 7px 5px;
    }
    .active .glyphicon-search{
        color: black;
        transition: color 1s;
        -moz-transition: color 1s; /* Firefox 4 */
        -webkit-transition: color 1s; /* Safari 和 Chrome */
        -o-transition: color 1s; /* Opera */
    }
    .navbar-fixed-top .glyphicon-bell{
        font-size: 150%;
        color: #FFFFFF;
        cursor:pointer;
        margin-left: 15px;
    }
    .active .glyphicon-bell{
        color: black;
        transition: color 1s;
        -moz-transition: color 1s; /* Firefox 4 */
        -webkit-transition: color 1s; /* Safari 和 Chrome */
        -o-transition: color 1s; /* Opera */
    }
    .navbar-fixed-top .img-circle{
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
    }
    .navbar-fixed-top .dropdown-menu {
        min-width:100px;
    }
    .navbar-fixed-top .dropdown-menu li a:hover{
        background-color: inherit;
        color: #46d233;
    }
    .navbar-fixed-top .navbar-nav li{
        margin-left: 15px;
        vertical-align: middle;
    }
    #login{
        cursor: pointer;
        font-size: 120%;
        color: white;
    }
    .active #login{
        color: black;
        transition: color 1s;
        -moz-transition: color 1s; /* Firefox 4 */
        -webkit-transition: color 1s; /* Safari 和 Chrome */
        -o-transition: color 1s; /* Opera */
    }
    #register{
        background-color: #46d233;
        color: #FFFFFF;
        margin: 9px 15px 0 0;
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
    }
    /*-----------------------------------滚动横幅------------------------------------ */
    .item {
        height: 480px;
        max-height: 480px;
    }
    /*-----------------------------------推荐图片卡片------------------------------------ */
    .imgRow{
        display: inline-block;
        width: 90%;
        text-align: justify;
        text-align-last:justify;
        line-height:0;
        margin-bottom: 25px;

    }
    .imgCard{
        display: inline-block;
        width: 285px;
        height: 285px;
        overflow: hidden;
    }
    .imgCard > a > img{
        width: 285px;
        height: 285px;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.5s ease 0s;
    }
    .imgCard:hover > a > img{
        transform: scale(1.1,1.1);
        transition: all 0.5s ease 0s;
    }
    .imgCard:hover > .ower{
        visibility: visible;
    }
    .imgTag{
        color: #FFFFFF;
        transform:translate(20px,-270px);
        background-color: rgba(30, 30, 30, 0.5);
        padding: 15px 10px 15px 10px;
        position: absolute;
    }
    .ower{
        width: 285px;
        position: absolute;
        transform:translate(0px,-40px);
        cursor: pointer;
        padding-bottom: 8px;
        background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5));
        visibility: hidden;
    }
    .ower-left{
        float: left;
        margin-left: 10px;
        color: #FFFFFF;
    }
    .ower-left img{
        width: 32px;
        height: 32px;
    }
    a.ower-left:link, a.ower-left:visited, a.ower-left:hover{
        color: #FFFFFF;
    }
    .ower-right{
        float: right;
        margin-right: 10px;
        color: #5e5e5e;
        background-color: gainsboro;
        padding: 8px 7px 8px 7px;
    }
    .ower-right > .glyphicon-thumbs-up{
        font-size: 120%;
    }
    /*-----------------------------------热门图片------------------------------------ */
    #hot {
        background-color: #AA0000;
        width: 100%;
        text-align: center;
    }
    #tags{
        margin-top: 10px;
        width: 90%;
        display: inline-block;
        background-color: #ce8483;
    }
    #tags>a{
        padding: 4px 8px 4px 8px;
        border-radius: 20px;
        border:1px #cccccc solid;
        background-color: #dddddd;
        cursor: pointer;
        color: #5e5e5e;
    }
    #tags a:hover{ color: #000000  }

</style>
<div style="background-color: #f4f6f9; text-align: center">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img id="logo" src="{% static '/img/icon1.png' %}">
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="nav-elem" href="{% url 'index' %}">首页</a></li>
                    <li><a class="nav-elem" href="#">动态</a></li>
                    <li><a class="nav-elem" href="#">APP</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="search" >
                            <div class="input-group">
                                <p id="inputSearch">
                                    <select class="form-control">
                                        <option value="volvo">作品</option>
                                        <option value="saab">用户</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="Search">
                                </p>
                                <a href="{% url 'search' 'key' %}"><span class="glyphicon glyphicon-search input-group-btn"></span></a>
                            </div>
                        </form>
                    </li>
                    {% if request.session.logined %}
                    <li class="dropdown">
                        <p style="padding: 15px 10px 5px 10px" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-bell"></span>
                        </p>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="{% url 'message' %}">点赞</a></li>
                            <li><a href="{% url 'message' %}">评论</a></li>
                            <li><a href="{% url 'message' %}">新粉丝</a></li>
                            <li><a href="{% url 'message' %}">收藏</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a style="padding-bottom:15px; padding-top: 10px;" class="dropdown-toggle" data-toggle="dropdown">
                            <img id="im" class="img-circle" src="{{ user_figure }}">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="/user/{{user_id}}/">个人中心</a></li>
                            <li><a href="{% url 'setting' %}">设置</a></li>
                            <li><a href="{% url 'logout' %}">退出登录</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'issue' %}" style="margin-right: 25px">发布</a></li>
                    {% else %}
                    <li><a id="login">登录</a></li>
                    <li><a id="register">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="myCarousel" class="carousel slide" >
        <div class="carousel-inner">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to ="0" class="active" ></li>
                <li data-target="#myCarousel" data-slide-to ="1"></li>
            </ol>

            <div class="item active">
                <a href="#">
                    <img class="slideImg" src="{% static '/img/01.jpg' %}"
                         alt="第一张">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img class="slideImg" src="{% static '/img/02.jpg' %}"
                         alt="第二张">
                </a>
            </div>

            <a href="#myCarousel" data-slide="next" class="carousel-control left"><!-- ‹ -->
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a><!-- 左箭头 -->
            <a href="#myCarousel" data-slide="prev" class="carousel-control right"><!-- › -->
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a><!-- 右箭头 -->
        </div>
    </div>
    <div id="reco" style="text-align: center; margin-bottom: 30px;">
        <h2>首页推荐</h2>
    </div>
    <div style="text-align: center;">
        <div class="imgRow">
            <div class="imgCard">
                <a href="/user/19/" class="aa">
                    <img src="{% static '/img/3.jpg' %}" alt="img">
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
                <div class="imgTag">
                    <span>标签</span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/6.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{{ user_figure }}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/7.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/8.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="imgRow">
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/9.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
                <div class="imgTag">
                    <span>标签</span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/10.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/11.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/12.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="imgRow">
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/13.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
                <div class="imgTag">
                    <span>标签</span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/14.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/15.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
            <div class="imgCard">
                <a href="#" class="aa">
                    <img src="{% static '/img/16.jpg' %}" alt="img" >
                </a>
                <div class="ower">
                    <a class="ower-left" href="#">
                        <img class="img-circle" src="{% static '/img/default_profile.jpg' %}">
                        <span>昵称</span>
                    </a>
                    <span class="ower-right">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>200</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div style="text-align: center;">
        <h2>热门图片</h2>
    </div>
    <div id="hot">
        <div id="tags">
            <a href="">风景</a>
            <a href="">春季</a>
            <a href=""> 二次元</a>
        </div>
    </div>
    -->
</div>

<style>
	body, html{
		width: 100%;
		height: 100%;
	}
    #pop{
        position: fixed;
        width: 100%;
		height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.71);

    }
    #pop .glyphicon-remove{
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 150%;
        color: black;
        cursor: pointer;
    }
	#login-widget, #register-widget{
		position: absolute;
		width: 500px;
		height: 400px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        background-color: white;
        text-align: center;
        box-shadow:0 0 10px 1px rgba(250, 252, 255, 0.51);
	}

    #login-widget form, #register-widget form {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 80px;
    }
    #login-widget button, #register-widget button{
        width:100%;
    }
    #register-widget form{
        width: 50%;
    }
    #login-widget form{
        width: 65%;
    }
    #callPwdLink{
        float:right;
        display:inline
    }
    .tip{
        color: #AA0000;
    }

</style>
<div id="pop">
    <div id="register-widget">
        <span class="glyphicon glyphicon-remove"></span>
        <form class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="form-group">
                <input id="nickname" type="text" class="form-control" name="nickname" placeholder="昵称" autocomplete="off" required="required">
            </div>
            <div class="form-group tip"></div>
            <div class="form-group">
                <input id="pwd" type="password" class="form-control" name="pwd" placeholder="密码(6-16个字符，区分大小写)" autocomplete="off" required="required">
            </div>
            <div class="form-group tip"></div>
            <div class="form-group">
                <input id="phone" type="text" class="form-control" name="phone" placeholder="常用手机号" autocomplete="off" required="required">
            </div>
            <div class="form-group tip"></div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" >注册</button>
            </div>
        </form>
	</div>
	<div id="login-widget">
        <span class="glyphicon glyphicon-remove"></span>
        <form class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="user" value="{{username}}" placeholder="昵称/手机号" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="pwd" value="{{pwd}}" placeholder="密码" required="required">
            </div>
            {% if msg %}
            <div class="form-group alert alert-warning">{{ msg }}</div>
            {% endif %}
            <div class="form-group">
                <div class="checkbox" style="display:inline">
                    <label>
                        <input id="checkbox" type="checkbox" />请记住我
                    </label>
                </div>
                <p style="display:inline" class="help-block">不是自己的电脑上不要勾选此项</p>
                <a id="callPwdLink" href="#">忘记密码？</a>
            </div>
            <div class="form-group">
                <button  id="login-button" type="button" class="btn btn-primary">登录</button>
            </div>
        </form>
	</div>

</div>
<!-- 顶部导航栏样式 -->
<script type="text/javascript">
    $(document).ready(function(){

        ////顶部导航栏背景变化
        var scroll_start = 0;
        var startchange = $('#reco');
        var offset = startchange.offset();
        if (startchange.length) {
            $(document).scroll(function () {
                scroll_start = $(this).scrollTop();
                if (scroll_start > offset.top - 80) {
                    $(".navbar-fixed-top").addClass("active");
                    $("#inputSearch").addClass("active");
                } else {
                    $('.navbar-fixed-top').removeClass("active");
                    $("#inputSearch").removeClass("active");
                }
            });
        }

        //滚动条
        $("#inputSearch").hide();
        $("#myCarousel").carousel({
            interval: 3000
        });

        ////搜索输入框样式
        $(".glyphicon-search").click(function(event){
            if ($("#inputSearch").is(':visible')){
                alert("yyy");
            }
            var e=window.event || event;
            if(e.stopPropagation){
                e.stopPropagation();
            }else{
                e.cancelBubble = true;
            }
            $("#inputSearch").show(200);
        });
        $("#inputSearch").click(function(event){
            var e=window.event || event;
            if(e.stopPropagation){
                e.stopPropagation();
            }else{
                e.cancelBubble = true;
            }
        });
        document.onclick = function(){
            $("#inputSearch").hide(200);
        };

        ////下拉菜单动画样式
        $(".glyphicon-bell").mouseenter(function () {
            $(this).parent(".dropdown-toggle").next().show(500);
        });
        $(".img-circle").mouseenter(function () {
            $(this).parent(".dropdown-toggle").next().show(500);
        });
        $(".dropdown").mouseleave(function () {
            $(this).children(".dropdown-menu").slideUp(200);
        });

        //注册按钮
        $("#register").click(function () {
            $("#pop").show();
            $("#login-widget").hide();
            $("#register-widget").show();
        });
        //注册按钮
        $("#login").click(function () {
            $("#pop").show();
            $("#register-widget").hide();
            $("#login-widget").show();
        });
    });
</script>
<!-- 弹出框 -->
<script>

    $("#pop").hide();
    $(document).ready(function(){

        $("#pop .glyphicon-remove").click(function () {
            $("#pop").hide(200);//addClass("active-vanish");
        });
    });
</script>
<!-- 注册验证 -->
<script>

    ////验证字符串是否是数字
    function checkNumber(theObj) {
        var reg = /^[0-9]+.?[0-9]*$/;
        if (reg.test(theObj)) {
            return true;
        }
        return false;
    }
    /////开始
    $(document).ready(function() {
        var suceed = new Array(false,false,false);
        $("#register-widget button").click(function(){
            if(suceed[0] && suceed[1] && suceed[2]){ //suceed[0] && suceed[1] && suceed[2]
                var m_data = {};
                m_data['op'] = "register";
                m_data['nickname'] = $("#nickname").val().trim();
                m_data['phone'] = $("#phone").val().trim();
                m_data['pwd'] = $("#pwd").val().trim();
                m_data["csrfmiddlewaretoken"] = $('[name="csrfmiddlewaretoken"]').val();
                $.ajax({ url: "register/",  type:'POST',async:false, dataType: "json",
                    data: m_data,
                    success: function(data){
                        var ret = data.ret;
                        if(ret == "t"){
                            $("#pop").hide(200);
                            window.location.reload();
                            return true;
                        }else{
                            return false;
                        }
                    }
                });
            }
            else
                return false;
        });
        $("#nickname").blur(function () {
            var val = $("#nickname").val();
            if(val == "" || val == null){
                $(".tip")[0].innerText = "";
                suceed[0] = false;
                return false;
            }
            $.ajax({ url: "register/",  type:'GET',async:false,
                data: {"field":"nickname","nickname":val},
                success: function(data){
                var ret = JSON.parse(data)['msg'];
                if(ret == "f"){
                    $(".tip")[0].innerText = "昵称已被取用";
                    suceed[0] = false;
                }else{
                    $(".tip")[0].innerText = "";
                    suceed[0] = true;
                }
            }});
        });
        $("#pwd").blur(function() {
            var pwd = $("#pwd").val();
            if(pwd.length == "" || pwd == null){
                $(".tip")[1].innerText = "";
                suceed[1] = false;
                return false;
            }
            if(pwd.length < 6 || pwd.length > 16){
                $(".tip")[1].innerText = "密码为6-16个字符";
                suceed[1] = false;
            }else{
                $(".tip")[1].innerText = "";
                suceed[1] = true;
            }
        });
        $("#phone").blur(function() {
            var val = $(this).val();
            if(val.length == "" || val == null){
                $(".tip")[2].innerText = "";
                suceed[2] = false;
                return false;
            }
            if(val.length != 11 || !checkNumber(val)){
                $(".tip")[2].innerText = "请检查手机号码";
                suceed[2] = false;
            }else {
                $.ajax({ url: "register/",  type:'GET',async:false,
                    data: {"field":"phone","phone":val},
                    success: function(data){
                        var ret = JSON.parse(data)['msg'];
                        if(ret == "f"){
                            $(".tip")[2].innerText = "该手机号已经注册过";
                            suceed[2] = false;
                        }else{
                            $(".tip")[2].innerText = "";
                            suceed[2] = true;
                        }
                    }});
            }
            //"csrfmiddlewaretoken":$('[name="csrfmiddlewaretoken"]').val()
        });
    })
</script>
<!-- 登录验证 -->
<script>
    function checkBox() {
        var username=getCookie('username');
        if (username!=null && username!="")
        {alert('Welcome again '+username+'!')}
        else
        {
            username=prompt('Please enter your name:',"");
            if (username!=null && username!="")
            {
                setCookie('username',username,365)
            }
        }
    }
    //开始
    $(document).ready(function() {

        $("#login-widget input").focus(function() {
            $(".alert").hide();
        });
        //$("#radio").change(checkBox);

        $("#login-widget button").click(function () {
            var val = $("#login-widget input[name='user']").val().trim();
            var pwd = $("#login-widget input[name='pwd']").val().trim();
            if (val == "" || val == null){
                alert('用户名不许为空');
                return false;
            }
            if (pwd == "" || pwd == null){
                alert('密码名不许为空');
                return false;
            }
            $.ajax({ url: "login/",  type:'GET',async:false,
                    data: {"op":"login","user":val,'pwd':pwd},
                    success: function(data){
                        var ret = JSON.parse(data)['ret'];

                        if (ret == 't'){
                            $("#pop").hide(200);
                            window.location.reload();
                        }else{
                            alert("账号或密码错误");
                        }
                    }
            });
        });

    });
</script>

{% include 'foot.html' %}

{% endblock %}
