{% extends 'base.html' %}

{% block title %}{{ request.session.user_nickname }}的个人空间{% endblock %}

{% block content %}

{% load static %}

<style type="text/css">
    /*-----------------------------------navbar------------------------------------ */
    a:hover{
        text-decoration: none;
    }
    #logo{
        margin-left: 30px;
        height: 90%;
        width: 70%;
    }
    .navbar-default{
        background-color: rgba(255, 255, 255, 0);
        border: none;
        margin: 0;
    }
    #topNav .navbar-nav > li > a:link{
        font-size: 120%;
        color: #000000;
    }
    #topNav .navbar-nav > li > a:visited{
        color: #000000;
    }
    #topNav .navbar-nav > li > a:hover {
        color: #46d233;
    }
    #inputSearch>input, #inputSearch>select{
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: none;
        border-radius: 0;
        color: #000000;
    }
    #inputSearch select{
        cursor: pointer;
    }
    #inputSearch select>option{
        color: #919191;
        background-color: #ffffff;
    }
    #topNav .glyphicon-search{
        font-size: 150%;
        color: #000000;
        cursor:pointer;
        padding: 7px 0 7px 5px;
    }

    #topNav .glyphicon-bell{
        font-size: 150%;
        color: #000000;
        cursor:pointer;
        margin-left: 15px;
    }

    #topNav .img-circle{
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
    }
    #topNav .dropdown-menu {
        min-width:100px;
    }
    #topNav .dropdown-menu li a:hover{
        background-color: inherit;
        color: #46d233;
    }
    #topNav .navbar-nav li{
        margin-left: 15px;
        vertical-align: middle;
    }
    #register{
        background-color: #46d233;
        color: #000000;
        margin: 9px 15px 0 0;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    /*-----------------------------------userCover------------------------------------ */
    #userCover{
        width: 100%;
        height: 420px;
        max-height: 420px;
    }
    #cover img{
        width: 100%;
        height: 420px;
    }
    #profile{
        color: #FFFFFF;
        position: absolute;
        transform:translate(50px,-160px);
        z-index: 2;
        cursor: pointer;
    }
    #profile img{
        width: 100px;
        height: 100px;
    }
    #profile>span{
        display: inline-block;
        list-style: none;
        padding-left: 20px;
        float: right;

    }
    #profile>span>div:first-child>span:first-child{
        font-size: 185%;
        margin-right: 40px;
    }
    #profile>span>div:first-child>a{
        background-color: #46d233;
        padding: 5px 15px 5px 15px;
        position: absolute;
        margin-top: 3px;
        color: #FFFFFF;
    }
    #profile>span>div:first-child>a:hover{
        background-color: #43b130;
    }
    #profile>span>div:last-child>span{
        font-size: 120%;

    }
    #profile>span>div:last-child>p{
        font-size: 90%;
        margin-top: 7px;
    }
    /*-----------------------------------catalog------------------------------------ */
    #catalog{
        width: 100%;
    }
    #myTab{
        width: 100%;
        text-align: center;
        border-bottom: solid 1px #e2e2e2;
    }
    #myTab li{
        float: none;
        display: inline-block;
    }
    .nav-pills>li>a{
        color: black;
        padding-right: 0;
        padding-left: 0;
        margin-right: 40px;
        font-size: 120%;
    }
    .nav-pills>li>a:hover{
        background-color: transparent;
    }
    .nav-pills>.active>a{
        border-radius: 0;
        border-bottom: solid 2px #46d233 !important;
        background: transparent !important;
        color: #46d233 !important;
    }
    #tabContent{
        width: 100%;
        background-color: #f4f6f9;
        margin-top: 0;
    }
    /*-----------------------------------相册------------------------------------ */
    #album{
        margin: 0 5% 0 5%;
    }
    #album>div{
        width: 100%;
        padding-left: 20px;
    }
    .album-card{
        float: none;
        display: inline-block;
        margin: 30px 20px 0 0 ;
        background-color: white;
        box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.5);
    }
    .album-cover{
        display: inline-block;
        width: 274px;
        height: 274px;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        /*background-image: url("{% static '/img/3.jpg' %}");*/
    }
    .album-info{
        width: 274px;
        height: 90px;
        color: #999;
    }
    .album-info>div{
        margin-top: 10px;
        margin-left: 2px;
    }
    .album-info>div:last-child>div{
        margin-right: 20px;
        display: inline;
    }
    .album-info>div:last-child>div:last-child{
        float: right;
    }
    .album-info .glyphicon-thumbs-up{
        cursor: pointer;
    }
    .album-name{
        color: black;
        font-size: 120%;
        font-weight: 600;
    }
    .album-num{
        width: 50px;
        color: #FFFFFF;
        transform:translate(210px,235px);
        background-color: rgba(30, 30, 30, 0.5);
        padding: 4px 4px 4px 4px;
    }
    .album-create-time{
        margin-right: 2px;
        float: right;
    }
    .album-tags{

    }
    .album-tags>span{
        background-color: #f0f1f2;
        border-radius: 15px;
        padding: 4px 12px 4px 12px;
        margin: 0 2px 0 0;
        font-size: 80%;
    }
    /*-----------------------------------收藏------------------------------------ */
    #collect{
        margin: 0 5% 0 5%;
        background-color: #FFFFFF;
    }
    /*-----------------------------------资料信息------------------------------------ */
    #user-info{
        width: 100%;
    }
    #user-info>div{
        background-color: #FFFFFF;
        text-align: left;
        margin: 0 5% 0 5%;
    }
    #user-info table{
        margin-left: 80px;
    }
    #user-info tr{
        height: 80px;
    }
    #user-info th{
        font-size: 110%;
        width: 10em;
    }
    #user-info td{
        width: 400px;
    }
    #user-info>a{
        position: absolute;
        text-decoration: none;
        color: #46d233;
        font-size: 120%;
        transform: translate(1000px, -380px);
    }

</style>

<div>
    <nav id="topNav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img id="logo" src="{% static '/img/icon1.png' %}">
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a class="nav-elem" href="{% url 'index' %}">首页</a></li>
                    <li><a class="nav-elem" href="#">动态</a></li>
                    <li><a class="nav-elem" href="#">APP</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="search" >
                            <div class="input-group">
                                <p id="inputSearch">
                                    <select class="form-control">
                                        <option value="works">作品</option>
                                        <option value="users">用户</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="Search">
                                </p>
                                <span class="glyphicon glyphicon-search input-group-btn"></span>
                            </div>
                        </form>
                    </li>
                    {% if request.session.logined %}
                    <li class="dropdown">
                        <p style="padding: 15px 10px 5px 10px" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-bell"></span>
                        </p>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="#">点赞</a></li>
                            <li><a href="#">评论</a></li>
                            <li><a href="#">新粉丝</a></li>
                            <li><a href="#">收藏</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a style="padding-bottom:15px; padding-top: 10px;" class="dropdown-toggle" data-toggle="dropdown">
                            <img id="figure" class="img-circle" src="{{ user_figure }}">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="/user/{{user_id}}/">个人中心</a></li>
                            <li><a href="{% url 'setting' %}">设置</a></li>
                            <li><a href="{% url 'logout' %}">退出登录</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'issue' %}" style="margin-right: 25px">发布</a></li>
                    {% else %}
                    <li><a id="login" href="{% url 'login' %}">登录</a></li>
                    <li><a id="register" href="{% url 'register' %}">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="userCover">
        <a id="cover">
            <img id="im" src="{{ user_cover }}" alt="img" >
        </a>
        <div id="profile">
            <a href="/user/{{user_id}}/"><img src="{{ user_figure }}" class="img-circle"></a>
            <span>
                <div>
                    <span>{{ user_nickname }}</span>
                    {% if user_nickname != request.session.user_nickname %}
                    <a> + 关注</a>
                    {% endif %}
                </div>
                <div>
                    <span>关注123</span>
                    <span style="font-size: 150%">&nbsp | &nbsp</span>
                    <span>粉丝57</span>
                    <p>{{ user_signature }}</p>
                </div>
            </span>
        </div>
        <div id="share"></div>
    </div>

    <div id="catalog">
        <ul id="myTab" class="nav nav-pills">
            <li class="active"><a href="#album" data-toggle="tab">收藏</a></li>
            <li><a href="#collect" data-toggle="tab">相册</a></li>
            <li><a href="#user-info" data-toggle="tab">资料</a></li>
        </ul>
        <div id="tabContent" class="tab-content">
            <div class="tab-pane fade in active" id="album">
                <div>
                    {% for album in album_list %}
                    <div class="album-card">
                        <a href="/view-album/{{album.album_id}}/" class="album-cover" style="background-image: url('{{ album.album_cover }}');">
                            <div class="album-num"><span>{{ album.album_photo_num }}</span> <span class="glyphicon glyphicon-book"></span></div>
                        </a>
                        <div class="album-info">
                            <div>
                                <span class="album-name">{{ album.album_name }}</span>
                                <span class="album-create-time">{{ album.album_create_time }}</span>
                            </div>
                            <div class="album-tags">
                                {% for tag in album.album_tags %}
                                    <span>{{tag}}</span>
                                    {% empty %}
                                    <br>
                                {% endfor %}
                            </div>
                            <div>
                                <div><span class="glyphicon glyphicon-eye-open"></span> <span>{{album.album_view_num}}</span></div>
                                <div><span class="glyphicon glyphicon-comment"></span> <span>{{album.album_comment_num}}</span></div>
                                <div><span class="glyphicon glyphicon-thumbs-up"></span> <span>{{album.album_favour_num}}</span></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!--
                    <div class="album-card">
                        <div class="album-cover">
                            <div class="album-num"><span>12</span> <span class="glyphicon glyphicon-book"></span></div>
                        </div>
                        <div class="album-info">
                            <div>
                                <span class="album-name">花好月圆</span>
                                <span class="album-create-time">2018-3-10</span>
                            </div>
                            <div class="album-tags">
                                <span>风景</span>
                                <span>风景</span>
                                <span>嘤嘤嘤</span>
                                <span>风景</span>
                            </div>
                            <div>
                                <div><span class="glyphicon glyphicon-eye-open"></span><span>123</span></div>
                                <div><span class="glyphicon glyphicon-comment"></span><span>12</span></div>
                                <div><span class="glyphicon glyphicon-thumbs-up"></span><span>127</span></div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="tab-pane fade" id="collect">
                <div style="height: 50px">收藏。。</div>
            </div>
            <div class="tab-pane fade" id="user-info">
                <br>
                <div>
                    <table border="0">
                    <tr>
                        <th>ID</th>
                        <td>{{user_id}}}</td>
                    </tr>
                    <tr>
                        <th>昵称</th>
                        <td>{{user_nickname}}</td>
                    </tr>
                    <tr>
                        <th>性别</th>
                        <td>{{user_gender}}</td>
                    </tr>
                    <tr>
                        <th>手机号</th>
                        <td>{{user_phone}}</td>
                    </tr>
                    <tr>
                        <th>个人签名</th>
                        <td>{{user_signature}}</td>
                    </tr>
                </table>
                </div>
                <a href="{% url 'setting' %}">编辑个人资料 <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <br>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        //点赞
        var thumbsUp = false;
        $(".glyphicon-thumbs-up").click(function () {
            //alert($(this).css('color'));
            if ($(this).css('color') == 'rgb(255, 0, 0)') {
                return false;
            }
            $(this).css('color', 'red');
            var $numElem = $(this).next();
            var num = new Number($numElem.text().trim());
            num++;
            $numElem.text(num.toString());
            thumbsUp = true;
        });
/*
        //页面加载完毕后加载数据
        var tds = $("#user-info td");
        $.ajax({ url: "user/",  type:'GET',async:false,
            data: {"op":"load_user_data"},
            success: function(response_data){
                    var user_data = JSON.parse(response_data);
                    tds[0].innerText = user_data['user_id'];
                    tds[1].innerText = user_data['user_nickname'];
                    tds[3].innerText = user_data['user_phone'];
                    tds[4].innerText = user_data['user_signature'];
                    var gender = user_data['user_gender'];
                    if (gender == 0)
                        tds[2].innerText = "保密";
                    else if (gender == 1)
                        tds[2].innerText = "男";
                    else
                        tds[2].innerText = "女";


            }
        });
*/
        //
    });

</script>

<script type="text/javascript">
    $(document).ready(function(){

        var v=document.getElementById("im").src;
        //alert($("title").text());
        //////加载完页面
        $("#inputSearch").hide();
        $("title").innerText = "divpic-"+ $("title").innerText;


        ////搜索输入框样式
        $(".glyphicon-search").click(function(event){
            if ($("#inputSearch").is(':visible')){
                alert("yyy");
            }
            var e=window.event || event;
            if(e.stopPropagation){
                e.stopPropagation();
            }else{
                e.cancelBubble = true;
            }
            $("#inputSearch").show(200);
        });
        $("#inputSearch").click(function(event){
            var e=window.event || event;
            if(e.stopPropagation){
                e.stopPropagation();
            }else{
                e.cancelBubble = true;
            }
        });
        document.onclick = function(){
            $("#inputSearch").hide(200);
        };

        ////下拉菜单动画样式
        $(".glyphicon-bell").mouseenter(function () {
            $(this).parent(".dropdown-toggle").next().show(500);
        });
        $(".img-circle").mouseenter(function () {
            $(this).parent(".dropdown-toggle").next().show(500);
        });
        $(".dropdown").mouseleave(function () {
            $(this).children(".dropdown-menu").slideUp(200);
        });

        ////imgCard img

    });
</script>
{% include 'foot.html' %}
{% endblock %}


