{% extends 'base.html' %}

{% block title %}浏览相册{% endblock %}
{% load static %}
{% block content %}
<style>
    /* jssor slider arrow navigator skin 05 css */
    /*
    .jssora05l                  (normal)
    .jssora05r                  (normal)
    .jssora05l:hover            (normal mouseover)
    .jssora05r:hover            (normal mouseover)
    .jssora05l.jssora05ldn      (mousedown)
    .jssora05r.jssora05rdn      (mousedown)
    .jssora05l.jssora05lds      (disabled)
    .jssora05r.jssora05rds      (disabled)
    */
    .jssora05l, .jssora05r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: url("{% static '/photo-view-slider/img/a17.png' %}") no-repeat;
        overflow: hidden;
    }

    .jssora05l {
        background-position: -10px -40px;
    }

    .jssora05r {
        background-position: -70px -40px;
    }

    .jssora05l:hover {
        background-position: -130px -40px;
    }

    .jssora05r:hover {
        background-position: -190px -40px;
    }

    .jssora05l.jssora05ldn {
        background-position: -250px -40px;
    }

    .jssora05r.jssora05rdn {
        background-position: -310px -40px;
    }

    .jssora05l.jssora05lds {
        background-position: -10px -40px;
        opacity: .3;
        pointer-events: none;
    }

    .jssora05r.jssora05rds {
        background-position: -70px -40px;
        opacity: .3;
        pointer-events: none;
    }

    /* jssor slider thumbnail navigator skin 01 css *//*.jssort01 .p            (normal).jssort01 .p:hover      (normal mouseover).jssort01 .p.pav        (active).jssort01 .p.pdn        (mousedown)*/
    .jssort01 .p {
        position: absolute;
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
    }

    .jssort01 .t {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    .jssort01 .w {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .jssort01 .c {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 68px;
        height: 68px;
        border: #000 2px solid;
        box-sizing: content-box;
        background: url("{% static '/photo-view-slider/img/t01.png' %}") -800px -800px no-repeat;
        _background: none;
    }

    .jssort01 .pav .c {
        top: 2px;
        _top: 0px;
        left: 2px;
        _left: 0px;
        width: 68px;
        height: 68px;
        border: #000 0px solid;
        _border: #fff 2px solid;
        background-position: 50% 50%;
        background-size: cover;
    }

    .jssort01 .p:hover .c {
        top: 0px;
        left: 0px;
        width: 70px;
        height: 70px;
        border: #fff 1px solid;
        background-position: 50% 50%;
    }

    .jssort01 .p.pdn .c {
        background-position: 50% 50%;
        width: 68px;
        height: 68px;
        border: #000 2px solid;
    }

    * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c { /* ie quirks mode adjust */
        width /**/: 72px;
        height /**/: 72px;
    }
</style>

<style type="text/css">
    /*-----------------------------------top  navbar------------------------------------ */
    a:hover {
        text-decoration: none;
    }

    #logo {
        margin-left: 30px;
        height: 90%;
        width: 70%;
    }

    #topNav {
        background-color: rgba(255, 255, 255, 1);
        border: none;
        margin: 0;
        border-bottom: solid 1px #e2e2e2;
        border-radius: 0;
    }

    #topNav .navbar-nav > li > a:link {
        font-size: 120%;
        color: #000000;
    }

    #topNav .navbar-nav > li > a:visited {
        color: #000000;
    }

    #topNav .navbar-nav > li > a:hover {
        color: #46d233;
    }

    #inputSearch > input, #inputSearch > select {
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: none;
        border-radius: 0;
        color: #000000;
    }

    #inputSearch select {
        cursor: pointer;
    }

    #inputSearch select > option {
        color: #919191;
        background-color: #ffffff;
    }

    #topNav .glyphicon-search {
        font-size: 150%;
        color: #000000;
        cursor: pointer;
        padding: 7px 0px 7px 5px;
    }

    #topNav .glyphicon-bell {
        font-size: 150%;
        color: #000000;
        cursor: pointer;
        margin-left: 15px;
    }

    #topNav .img-circle {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
    }

    #topNav .dropdown-menu {
        min-width: 100px;
    }

    #topNav .dropdown-menu li a:hover {
        background-color: inherit;
        color: #46d233;
    }

    #topNav .navbar-nav li {
        margin-left: 15px;
        vertical-align: middle;
    }

    #register {
        background-color: #46d233;
        color: #000000;
        margin: 9px 15px 0 0;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    /*-----------------------------------top left right bottom------------------------------------ */
    #top {
        width: 100%;
        height: 440px;
        background-color: #f4f6f9;
        border-bottom: solid 1px #e2e2e2;
    }

    #left {
        float: left;
        width: 70%;
        height: 100%;
    }

    #right {
        float: left;
        width: 30%;
        height: 100%;
        overflow-y: scroll;
        border-left: solid 1px #e2e2e2;
        background-color: white;
    }

    #bottom {
        margin: 40px 5% 40px 5%;
        background-color: white;
        padding: 20px 100px 20px 100px;
    }

    /*---------------------- profile ---------------------------*/
    #profile {
        color: #000000;
        position: relative;
        border: 1px red solid;
        cursor: pointer;
        margin: 20px 30px 0 30px;
        float: none;
    }

    #profile img {
        width: 100px;
        height: 100px;
    }

    #profile > span {
        display: inline-block;
        float: right;
    }

    #profile > span > div:first-child > span:first-child {
        font-size: 185%;
        margin-right: 80px;
    }

    #profile > span > div:first-child > a {
        background-color: #46d233;
        padding: 5px 15px 5px 15px;
        margin-top: 3px;
        color: #FFFFFF;
    }

    #profile > span > div:first-child > a:hover {
        background-color: #43b130;
    }

    #profile > span > div:last-child > span {
        font-size: 120%;

    }

    #profile > span > div:last-child > p {
        font-size: 90%;
        margin-top: 7px;
    }

    /*----------------- album-data -------------------------*/
    #album-data {
        width: 100%;
        color: #999;
    }

    #album-data > div {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    #album-data > div > div {
        display: inline-block;
        margin-right: 30px;
    }

    #album-tags > span {
        background-color: #f0f1f2;
        border-radius: 15px;
        padding: 4px 12px 4px 12px;
        margin: 0 4px 0 0;
        font-size: 80%;
        display: inline-block;
    }

    /*------------------- coment ----------------------*/
    #comment-input {
        width: 100%;
    }

    #comment-input button {
        background-color: #46d233;
        border-color: #46d233;
    }

    #comment-input button:hover {
        background-color: #43b130;
        border-color: #43b130;
    }

    #myslide img[data-u="image"] {

    }

</style>

<nav id="topNav" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img id="logo" src="{% static '/img/icon1.png' %}">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li><a class="nav-elem" href="{% url 'index' %}">首页</a></li>
                <li><a class="nav-elem" href="#">动态</a></li>
                <li><a class="nav-elem" href="#">APP</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <p id="inputSearch">
                                <select class="form-control">
                                    <option value="volvo">作品</option>
                                    <option value="saab">用户</option>
                                </select>
                                <input type="text" class="form-control" placeholder="Search">
                            </p>
                            <span class="glyphicon glyphicon-search input-group-btn"></span>
                        </div>
                    </form>
                </li>
                {% if request.session.logined %}
                <li class="dropdown">
                    <p style="padding: 15px 10px 5px 10px" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-bell"></span>
                    </p>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="#">点赞<span class="badge">5</span></a></li>
                        <li><a href="#">评论</a></li>
                        <li><a href="#">新粉丝</a></li>
                        <li><a href="#">收藏</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a style="padding-bottom:15px; padding-top: 10px;" class="dropdown-toggle" data-toggle="dropdown">
                        <img id="figure" class="img-circle" src="{{ user_data.user_figure }}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="/user/{{user_data.user_id}}/">个人中心</a></li>
                        <li><a href="{% url 'setting' %}">设置</a></li>
                        <li><a href="{% url 'logout' %}">退出登录</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'issue' %}" style="margin-right: 25px">发布</a></li>
                {% else %}
                <li><a id="login" href="">登录</a></li>
                <li><a id="register" href="">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="top">
    <div id="left">
        <div id="jssor_1"
             style="position: relative; margin: 0 auto; top: 20px; left: 0px; width: 600px; height: 400px; overflow: hidden; visibility: hidden; background-color: #24262e;">
            <!-- Loading Screen -->
            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position:absolute;display:block;background:url(" {% static
                '/photo-view-slider/img/loading.gif' %}") no-repeat center
                center;top:0px;left:0px;width:100%;height:100%;">
            </div>
        </div>
        <div data-u="slides" id="myslide"
             style="cursor: default; position: relative; top: 0px; left: 0px; width: 600px; height: 300px; overflow: hidden;">
            {% for photo in album_data.album_photos_list %}
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="{{ photo }}"/>
                <img data-u="thumb" src="{{ photo }}"/>
            </div>
            {% endfor %}

            <!--
            <div data-p="144.50" style="display: none;">
                <img data-u="image" src="{% static '/photo-view-slider/img/06.jpg' %}"/>
                <img data-u="thumb" src="{% static '/photo-view-slider/img/06.jpg' %}"/>
            </div>
            -->
        </div>
        <!-- Thumbnail Navigator -->
        <div data-u="thumbnavigator" class="jssort01"
             style="position:absolute;left:0px;bottom:0px;width:600px;height:100px;" data-autocenter="1">
            <!-- Thumbnail Item Skin Begin -->
            <div data-u="slides" style="cursor: default;">
                <div data-u="prototype" class="p">
                    <div class="w">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                    <div class="c"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
    </div>
</div>
<div id="right">
    <div id="profile">
        <a href="/user/{{user_data.user_id}}/"><img src="{{ user_data.user_figure }}" class="img-circle"></a>
        <span>
                <div>
                    <span id="user-nick">{{ user_data.user_nickname }}</span>
                    {% if user_data.user_nickname != request.session.user_nickname %}
                    <a> + 关注</a>
                    {% endif %}
                </div>
                <div>
                    <span>关注123</span>
                    <span style="font-size: 150%">&nbsp | &nbsp</span>
                    <span>粉丝57</span>
                    <p>{{ user_data.user_signature }}</p>
                </div>
            </span>
    </div>
    <hr style="border-color: #e2e2e2">
    <div id="album-data">
        <div>
            <div><span class="glyphicon glyphicon-thumbs-up"></span> <span>{{album_data.album_favour_num}}</span></div>
            <div><span class="glyphicon glyphicon-eye-open"></span> <span>{{album_data.album_view_num}}</span></div>
            <div><span class="glyphicon glyphicon-comment"></span> <span>{{album_data.album_comment_num}}</span></div>
            <div><span class="glyphicon glyphicon-book"></span> <span>{{ album_data.album_photo_num }}</span></div>
        </div>
        <hr style="border-color: #e2e2e2">
        <div>标题：<span>{{album_data.album_name}}</span></div>
        <div>发布时间： <span id="album-create-time">{{album_data.album_create_time}}</span></div>
        <div>分类：<span id="album-category">{{album_data.album_category}}</span></div>
        <div id="album-tags">
            标签：
            {% for tag in album_data.album_tags_list %}
            <span>{{tag}}</span>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<div style="width: 100%; background-color: #f4f6f9;float: left">
    <div id="bottom" style="">
        <div>
            <h3 style="text-indent:1em">{{album_data.album_name}}</h3>
            <p style="text-indent:2em">{{album_data.album_note}}</p>
        </div>
        <br><br>
        <form id="comment-input" role="form">
            <div class="form-group">
                <label for="comment-content">发表你的评论</label>
                <textarea class="form-control" id="comment-content" name="comment-content" rows="6"></textarea>
            </div>
            <button type="button" class="btn btn-primary">确认评论</button>
        </form>
        <br><br>
        <h4>评论</h4>

        <style>
            .comment-item {
                width: 100%;
            }

            .comment-item > a {
                display: inline;
                position: absolute;
                cursor: pointer;
            }

            .comment-body {
                display: block;
                margin-left: 50px;
            }

            .comment-reply {
                width: 100%;
                padding-left: 20px;
                margin-top: 10px;
                background-color: #f9f9f9;
            }

            .comment-reply-btn, .comment-del-btn {
                color: #46d233;
                cursor: pointer;
                margin-right: 20px;
            }

            .comment-nick, .reply-nick, .to-nick {
                color: black;
                font-weight: bold;
                cursor: pointer;
            }

            .comment-time {
                margin-left: 20px;
                color: #999;
            }

            .reply-input {
                margin-bottom: 20px;
            }

            .reply-input > textarea {
                width: 100%;
            }

            .comment-cancel {
                color: #46d233;
                cursor: pointer;
                margin-right: 20px;
            }

            .comment-sure {
                background-color: #46d233;
                border-color: #46d233;

            }

            .comment-sure:hover {
                background-color: #43b130;
                border-color: #43b130;
            }
        </style>
        <hr>
        <div class="comment-item">
            <a><img class="img-circle" src="{{ user_data.user_figure }}" width="40px" height="40px"></a>
            <div class="comment-body">
                <p>
                    <a class="comment-nick">昵称</a>
                    <span class="comment-time">2018-5-22</span>
                </p>
                <p class="comment-content">评论内容评论内容评论内容</p>
                <p>
                    <span class="comment-reply-btn">回复</span>
                    <span class="comment-del-btn">删除</span>
                </p>

                <div class="reply-input">
                    <textarea rows="3"></textarea>
                    <div>
                        <span class="comment-cancel">取消</span>
                        <button class='comment-sure' type='button'>评论</button>
                    </div>
                </div>

                <div class="comment-reply">
                    <p>
                        <a class="reply-nick">昵称</a>
                        <span> @ </span>
                        <a class="to-nick">昵称</a>
                        <span class="comment-time">2018-5-22</span>
                    </p>
                    <p class="reply-content">回复回复回复</p>
                    <p>
                        <span class="comment-reply-btn">回复</span>
                        <span class="comment-del-btn">删除</span>
                    </p>
                </div>
                <div class="comment-reply">
                    <p>
                        <a class="reply-nick">昵称</a>
                        <span> @ </span>
                        <a class="to-nick">昵称</a>
                        <span class="comment-time">2018-5-22</span>
                    </p>
                    <p class="reply-content">回复回复回复</p>
                    <p>
                        <span class="comment-reply-btn">回复</span>
                        <span class="comment-del-btn">删除</span>
                    </p>
                </div>
            </div>
        </div>

        <hr>
        <div class="comment-item">
            <a><img class="img-circle" src="{{ user_data.user_figure }}" width="40px" height="40px"></a>
            <div class="comment-body">
                <span class="comment-nick"><a>昵称</a></span>
                <span class="comment-time">2018-5-22</span>
                <p class="comment-content">评论内容</p>
                <div>
                    <span>回复</span>
                    <span>删除</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function replyBtnCall($p) {
        var $cancel = $("<span class='comment-cancel'>取消</span>");
        var $sure = $("<button class='comment-sure' type='button'>评论</button>");
        var $div = $("<div></div>");
        var $reply_input = $("<div class='reply-input'></div>");
        $div.append($cancel);
        $div.append($sure);
        $reply_input.append("<textarea rows='3'></textarea>");
        $reply_input.append($div);
        $reply_input.hide();
        $p.after($reply_input);
        $reply_input.show(500);
        //取消评论事件
        $cancel.click(function () {
            var $pp = $(this).parent().parent();
            $pp.hide(500, function () {
                $(this).remove()
            });
        });
        //回复事件
        $sure.click(function () {
            //alert($(".reply-input>textarea").val());
            var $pp = $sure.parent().parent();
            /*
            $pp.before("<div class=\"comment-reply\">\n" +
                "                    <p>\n" +
                "                        <a class=\"reply-nick\">昵称</a>\n" +
                "                         <span> @ </span>\n" +
                "                        <a class=\"comment-nick\">昵称</a>\n" +
                "                        <span class=\"comment-time\">2018-5-22</span>\n" +
                "                    </p>\n" +
                "                    <p class=\"reply-content\">回复回复回复</p>\n" +
                "                    <p>\n" +
                "                        <span class=\"comment-reply-btn\">回复</span>\n" +
                "                        <span class=\"comment-del-btn\">删除</span>\n" +
                "                    </p>\n" +
                "                </div>");

             */
            var selfNick = $("#user-nick").text();
            var oppoNick = $pp.parent().children("p").get(0).children[0].innerText;
            var content = $pp.children('textarea').get(0).value;

            var $p1 = $("<p></p>");
            $p1.append($("<a class='reply-nick'></a>").text(selfNick));
            $p1.append(" @ ");
            $p1.append($("<a class='to-nick'></a>").text(oppoNick));
            $p1.append($("<span class='comment-time'></span>").text("刚才"));
            var $p2 = $("<p class='reply-content'></p>");
            $p2.text(content);
            var $btnReply = $("<span class='comment-reply-btn'>回复</span>");
            var $btnCancel = $("<span class='comment-del-btn'>删除</span>");
            var $p3 = $("<p></p>");
            $p3.append($btnReply);
            $p3.append($btnCancel);
            var $reply = $("<div class='comment-reply'></div>");
            $reply.append($p1);
            $reply.append($p2);
            $reply.append($p3);
            $pp.before($reply);
            //回复按钮事件
            $btnReply.click(function () {
                var $mp = $(this).parent();
                if ($mp.next().hasClass("reply-input")) {
                    return false;
                }
                replyBtnCall($mp);
            });
            //删除事件

            //alert(content);
            //输入框消失
            $pp.hide(500, function () {
                $pp.remove();
            });
        });
    }

    $(document).ready(function () {
        //回复评论
        $(".comment-reply-btn").click(function () {
            var $p = $(this).parent();
            if ($p.next().hasClass("reply-input")) {
                return false;
            }
            replyBtnCall($p);
        });
        //取消评论
        $(".comment-cancel").click(function () {
            var $p = $(this).parent().parent();
            $p.hide(500, function () {
                $(this).remove()
            });
        });
    });
</script>

<script src="{% static '/photo-view-slider/js/jssor.slider-21.1.6.mini.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var jssor_1_SlideshowTransitions = [
            {
                $Duration: 1200,
                x: 0.3,
                $During: {$Left: [0.3, 0.7]},
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: -0.3,
                $SlideOut: true,
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: -0.3,
                $During: {$Left: [0.3, 0.7]},
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: 0.3,
                $SlideOut: true,
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: 0.3,
                $During: {$Top: [0.3, 0.7]},
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: -0.3,
                $SlideOut: true,
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: -0.3,
                $During: {$Top: [0.3, 0.7]},
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: 0.3,
                $SlideOut: true,
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: 0.3,
                $Cols: 2,
                $During: {$Left: [0.3, 0.7]},
                $ChessMode: {$Column: 3},
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: 0.3,
                $Cols: 2,
                $SlideOut: true,
                $ChessMode: {$Column: 3},
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: 0.3,
                $Rows: 2,
                $During: {$Top: [0.3, 0.7]},
                $ChessMode: {$Row: 12},
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: 0.3,
                $Rows: 2,
                $SlideOut: true,
                $ChessMode: {$Row: 12},
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: 0.3,
                $Cols: 2,
                $During: {$Top: [0.3, 0.7]},
                $ChessMode: {$Column: 12},
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                y: -0.3,
                $Cols: 2,
                $SlideOut: true,
                $ChessMode: {$Column: 12},
                $Easing: {$Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: 0.3,
                $Rows: 2,
                $During: {$Left: [0.3, 0.7]},
                $ChessMode: {$Row: 3},
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: -0.3,
                $Rows: 2,
                $SlideOut: true,
                $ChessMode: {$Row: 3},
                $Easing: {$Left: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: 0.3,
                y: 0.3,
                $Cols: 2,
                $Rows: 2,
                $During: {$Left: [0.3, 0.7], $Top: [0.3, 0.7]},
                $ChessMode: {$Column: 3, $Row: 12},
                $Easing: {$Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                x: 0.3,
                y: 0.3,
                $Cols: 2,
                $Rows: 2,
                $During: {$Left: [0.3, 0.7], $Top: [0.3, 0.7]},
                $SlideOut: true,
                $ChessMode: {$Column: 3, $Row: 12},
                $Easing: {$Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                $Delay: 20,
                $Clip: 3,
                $Assembly: 260,
                $Easing: {$Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                $Delay: 20,
                $Clip: 3,
                $SlideOut: true,
                $Assembly: 260,
                $Easing: {$Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                $Delay: 20,
                $Clip: 12,
                $Assembly: 260,
                $Easing: {$Clip: $Jease$.$InCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            },
            {
                $Duration: 1200,
                $Delay: 20,
                $Clip: 12,
                $SlideOut: true,
                $Assembly: 260,
                $Easing: {$Clip: $Jease$.$OutCubic, $Opacity: $Jease$.$Linear},
                $Opacity: 2
            }
        ];

        var jssor_1_options = {
            $AutoPlay: true,
            $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Cols: 10,
                $SpacingX: 8,
                $SpacingY: 8,
                $Align: 360
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        /*responsive code begin*/

        /*you can remove responsive code if you don't want the slider scales while window resizing*/
        function ScaleSlider() {
            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 600);
                jssor_1_slider.$ScaleWidth(refSize);
            } else {
                window.setTimeout(ScaleSlider, 30);
            }
        }

        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        /*responsive code end*/
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        ////顶部导航栏背景变化
        var scroll_start = 0;
        var startchange = $('#reco');
        var offset = startchange.offset();
        if (startchange.length) {
            $(document).scroll(function () {
                scroll_start = $(this).scrollTop();
                if (scroll_start > offset.top - 80) {
                    $(".navbar-fixed-top").addClass("active");
                    $("#inputSearch").addClass("active");
                } else {
                    $('.navbar-fixed-top').removeClass("active");
                    $("#inputSearch").removeClass("active");
                }
            });
        }

        //////////
        $("#inputSearch").hide();
        $("#myCarousel").carousel({
            interval: 3000
        });

        ////搜索输入框样式
        $(".glyphicon-search").click(function (event) {
            if ($("#inputSearch").is(':visible')) {
                alert("yyy");
            }
            var e = window.event || event;
            if (e.stopPropagation) {
                e.stopPropagation();
            } else {
                e.cancelBubble = true;
            }
            $("#inputSearch").show(200);
        });
        $("#inputSearch").click(function (event) {
            var e = window.event || event;
            if (e.stopPropagation) {
                e.stopPropagation();
            } else {
                e.cancelBubble = true;
            }
        });
        document.onclick = function () {
            $("#inputSearch").hide(200);
        };

        ////下拉菜单动画样式
        $(".glyphicon-bell").mouseenter(function () {
            $(this).parent(".dropdown-toggle").next().show(500);
        });
        $(".img-circle").mouseenter(function () {
            $(this).parent(".dropdown-toggle").next().show(500);
        });
        $(".dropdown").mouseleave(function () {
            $(this).children(".dropdown-menu").slideUp(200);
        });

        ////imgCard img

    });
</script>


{% include 'foot.html' %}

{% endblock %}